@@include('parts/header.html')
<h1>Home page</h1>

<ul>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nulla!</li>
  <li>Ab beatae laboriosam quos ratione sint tempora vitae. Assumenda, eum.</li>
  <li>Animi assumenda autem blanditiis, doloremque nam non obcaecati ullam vero!</li>
  <li>Accusamus adipisci aliquam, cumque delectus dolorem ducimus excepturi odio quia?</li>
  <li>Ad autem inventore ipsam molestiae, optio suscipit unde veritatis voluptate!</li>
</ul>
@@include('parts/footer.html')
